/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
   }

#homepage-carousel {
  height: 100%;
}

  #content-page nav {
    background-color: #7B7E30;
  }

  .green-button {
    background-color: #818C30;
  }

  #signup-menu {
    margin-right: 10px;
  }

    #content-page main {
      margin-top: 100px;
    }

.btn-primary {
  background-color: #88B4DB !important;
}

/* Half Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

      .card-header {
        border-bottom: 0px !important;
    }

    .card-header h4 {
        text-align: center;
        width: 100%;
    }

    #donationMap iframe {
        width: 100%;
    }

#postPhoto img {
  width: 100%;
}

.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-bottom {
  padding-bottom: 25px;
}


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

.food-stats {
  margin-top: 15vh;
}

.center-content {
  text-align: center;
  margin: 5vh 2.5vw;
}

.big-number {
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
}

.food-stat-div {
  position: relative;
  top: 75px;
  margin-top: -10vh;

  padding: 0 50px;
}



    @media (min-width: 641px) {
        #createNewDonation {
            margin-left: 20px;
        }
    }

    @media (max-width: 640px) {
        .hide-mobile {
            display: none;
        }

        #availableDonations {
            padding: 0px !important;
        }

        .food-stats {
          margin-top: 5vh;
          height: 250px;
        }

        .food-stats h1, .food-stats .big-number {
          font-size: 20px !important;
        }

        #carousel-content {
          height: 100%;
          margin-top: 200px;
        }

        #carousel-content h1 {
          font-size: 24px !important;
        }

    }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #929FBA; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #7B7E30; }
  }
